@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Dongle", sans-serif;
  line-height: 69px;
  background-image: url(./Assets/pixel_clouds.jpeg);
  background-size: cover;
  transition: 0.4s ease-out;
}
/*
.app {
  
}
*/

.app.warm {
  background-image: url(./Assets/warm.png);
  background-size: contain;
  transition: 0.4s ease-out;
}

.app.cold {
  background-image: url(./Assets/cloudy_purple.jpeg);
  background-size: contain;
  transition: 0.4s ease-out;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  font-family: "Dongle", sans-serif;
  font-size: 22px;
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  font-family: "Dongle", sans-serif;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 22px;
  display: block;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.search-bar.search-box:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
.location-box .location {
  color: #fff;
  font-size: 130px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  line-height: 39px;
  margin-top: 15px;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;

  color: #fff;
  font-size: 120px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
